---
title: Blog
permalink: /blog/
---

<html>
<head>
</head>
<body>
    <div id='blog' class='wrap'>
        <div id='intro'>
            <div class='quote'>
                <!-- <p>Thought is only a flash in the middle of a long night. But this flash means everything.</p> -->
                <!-- <a href='https://en.wikipedia.org/wiki/Raymond_Poincar%C3%A9' target='_blank'>Raymond Poincaré</a> -->
                <p>What I cannot create, I do not understand.</p>
                <a href='https://en.wikipedia.org/wiki/Richard_Feynman' target='_blank'>Richard Feynman</a>
		        <!-- <p>Scaling the right thing matters more now than ever.</p> -->
                <!-- <a href='https://en.wikipedia.org/wiki/Ilya_Sutskever' target='_blank'>Ilya Sutskever</a> -->
                <!-- <p>Everything should be made as simple as possible, but no simpler.</p>
                <a href='https://en.wikipedia.org/wiki/Albert_Einstein' target='_blank'>Albert Einstein</a> -->
            </div>
        </div>
        <button id="All" onclick="filterUsingCategory('All')" style="border:none;background: none;">
            <b> All </b>
          </button>
          {% assign categories = site.categories | sort %}
          {% for category in categories %}
            {% assign cat = category | first %}
            <button id="{{ cat }}" onclick="filterUsingCategory(this.id)" style="border:none;background: none;">
                <b> {{ cat }} </b>
            </button>
          {% endfor %}
          <span class='hidden'></span>

          

          <script type="text/javascript">
            function filterUsingCategory(selectedCategory) {
              var id = 0;
              {% for post in site.posts %}
                var cats = {{ post.categories | jsonify }}
          
                var postDiv = document.getElementById(++id);
                postDiv.style.display =
                  (selectedCategory == 'All' || cats.includes(selectedCategory)) 
                    ? 'unset' 
                    : 'none';
              {% endfor %}
            }
          </script>
        <div id='posts' class='section'>
            {% assign id = 0 %}
            {% for post in site.posts %}
            {% assign id = id | plus:1 %}
            <div class="post" id="{{id}}">
                <p class="itemInteriorSection">
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">  {{ post.title }} </a>
                    </p>
                    <p class='post-date'> {{ post.date | date_to_long_string }} </p>
                </div>
                <p class='post-subtitle'> {{ post.subtitle }} </p>
                <span class='hidden'>{{ forloop.index }}</span>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
